*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container{
  width: 1170px;
  margin: 0 auto;
}
ul,ol{
  list-style-type: none;
}
nav{
  background-color: blueviolet;
}
ul{
  padding: 20px 0;
  display: flex;
  gap: 50px;
  justify-content: center;
}
ul li a{
  color: aliceblue;
  font-size: 20px;
  text-decoration: none;
}
ul li a.active{
  color: red;
  transition: all linear 0.2s;
}
footer{
  color: white;
  font-size: 20px;
  background-color: blueviolet;
  padding: 20px 0 ;
  text-align: center;
}